*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 150%;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

@media (min-width: 375px) {
  .main-site {
    min-height: 100svh;
  }
  .main-site .nav {
    padding: 1em 0.5em;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
  }
  .main-site .nav .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5em;
  }
  .main-site .nav .nav-container__logo {
    width: 8em;
  }
  .main-site .nav .nav-container .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5em;
  }
  .main-site .nav .nav-container .nav-links__link {
    padding: 0.5em;
    cursor: pointer;
  }
  .main-site .nav .nav-container .nav-links__link:last-child {
    padding-right: 0;
  }
  .main-site .header-site {
    padding: 5.5em 3em 0 3em;
  }
  .main-site .header-site__illustration-primary {
    display: block;
    width: 100%;
  }
  .main-site .header-site .header-content__heading {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }
  .main-site .header-site .header-content__description {
    text-align: center;
    padding: 1em 0;
  }
  .main-site .header-site .header-content .header-interaction__input {
    width: 100%;
    padding: 0.75em;
    font-size: 1rem;
    border: 0.1em solid hsl(243, 87%, 12%);
    border-radius: 0.2em;
    outline-color: hsl(243, 87%, 12%);
  }
  .main-site .header-site .header-content .header-interaction__error {
    padding: 0.25em 0;
    font-size: 0.75rem;
    color: rgb(255, 0, 0);
    display: none;
  }
  .main-site .header-site .header-content .header-interaction .change-input-color {
    border: 1px solid rgb(255, 0, 0);
  }
  .main-site .header-site .header-content .header-interaction__cta {
    margin-top: 1em;
    width: 100%;
    padding: 0.75em 1.5em;
    font-size: 1rem;
    font-family: inherit;
    border-radius: 0.2em;
    border: none;
    background-color: hsl(224, 93%, 58%);
    color: hsl(240, 75%, 98%);
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    cursor: pointer;
  }
  .main-site .header-site .header-content .header-interaction__cta:hover {
    background-color: hsl(224, 94%, 66%);
  }
  .main-site .about-site {
    padding: 1em 3em;
  }
  .main-site .about-site__illustration-secondary {
    display: block;
    width: 100%;
    padding: 4em 0;
  }
  .main-site .about-site .site-description__heading {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }
  .main-site .about-site .site-description__description {
    padding-top: 1.25em;
  }
  .main-site .about-site .site-description__redirect-link {
    color: hsl(170, 45%, 43%);
    position: relative;
    display: block;
    margin: 1.25em auto;
    padding: 0.25em 0;
    z-index: 0;
    width: 10em;
    border-bottom: 1px solid hsl(170, 45%, 43%);
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }
  .main-site .about-site .site-description__redirect-link--icon {
    content: url(../img/icon-arrow.svg);
    position: absolute;
    top: 25%;
    margin-left: 0.1em;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }
  .main-site .about-site .site-description__redirect-link:hover {
    color: hsl(170, 49%, 55%);
  }
  .main-site .about-site .card-box {
    margin: auto;
    padding: 1.25em 0;
    max-width: 25em;
  }
  .main-site .about-site .card-box__icon {
    width: 1.5em;
  }
  .main-site .about-site .card-box .person-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 1em;
  }
  .main-site .about-site .card-box .person-box__avatar {
    border-radius: 50%;
    width: 3em;
  }
  .main-site .about-site .card-box .person-box .person-info {
    padding-left: 0.75em;
  }
  .main-site .about-site .card-box .person-box .person-info__name {
    font-weight: 700;
  }
  .main-site .about-site .card-box .person-box .person-info__proffesion {
    font-size: 0.65rem;
  }
  .main-site .newsletter-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: hsl(238, 22%, 44%);
    padding: 3em;
    margin-top: 3em;
  }
  .main-site .newsletter-container .newsletter-box .newsletter-area__header, .main-site .newsletter-container .newsletter-box .newsletter-area__description {
    color: hsl(0, 0%, 100%);
    font-weight: 400;
  }
  .main-site .newsletter-container .newsletter-box .newsletter-area__description {
    padding: 2em 0;
  }
  .main-site .newsletter-container .newsletter-box .newsletter-interaction__email-place, .main-site .newsletter-container .newsletter-box .newsletter-interaction__cta {
    width: 100%;
    padding: 0.75em 1.5em;
    font-size: 1rem;
    border-radius: 0.4em;
    border: none;
    font-family: inherit;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
  }
  .main-site .newsletter-container .newsletter-box .newsletter-interaction__cta {
    background-color: hsl(224, 93%, 58%);
    color: hsl(0, 0%, 100%);
    margin-top: 0.6em;
    cursor: pointer;
  }
  .main-site .newsletter-container .newsletter-box .newsletter-interaction__cta:hover {
    background-color: hsl(224, 94%, 66%);
  }
  .main-site .newsletter-container .newsletter-box .newsletter-interaction__error {
    padding: 0.25em 0;
    font-size: 0.75rem;
    color: rgb(255, 0, 0);
    display: none;
  }
  .main-site .newsletter-container .newsletter-box .newsletter-interaction .change-input-color {
    border: 1px solid rgb(255, 0, 0);
  }
  .main-site .footer-container {
    background-color: hsl(243, 87%, 12%);
    padding: 3em;
  }
  .main-site .footer-container__logo {
    height: 3.063em;
    width: 10.5em;
  }
  .main-site .footer-container .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1em;
    padding-top: 4em;
    gap: 4em;
  }
  .main-site .footer-container .footer-content .contact-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1em;
  }
  .main-site .footer-container .footer-content .contact-block__contact {
    position: relative;
    color: hsl(0, 0%, 100%);
    padding-left: 2em;
  }
  .main-site .footer-container .footer-content .contact-block__contact::before {
    position: absolute;
    left: 0;
    content: url(../img/icon-phone.svg);
  }
  .main-site .footer-container .footer-content .contact-block__contact:last-child::before {
    content: url(../img/icon-email.svg);
  }
  .main-site .footer-container .footer-content .about-company-block,
  .main-site .footer-container .footer-content .policy-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1em;
    max-width: 6em;
  }
  .main-site .footer-container .footer-content .about-company-block__link,
  .main-site .footer-container .footer-content .policy-box__link {
    color: hsl(0, 0%, 100%);
    padding: 0 0.25em;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    cursor: pointer;
  }
  .main-site .footer-container .footer-content .about-company-block__link:hover,
  .main-site .footer-container .footer-content .policy-box__link:hover {
    color: hsl(238, 22%, 44%);
  }
  .main-site .footer-container .footer-content .social-media-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
  }
  .main-site .footer-container .footer-content .social-media-box__icon {
    border: 0.1em solid hsl(0, 0%, 100%);
    padding: 0.5em;
    border-radius: 50%;
    -webkit-transition: -webkit-filter 0.3s;
    transition: -webkit-filter 0.3s;
    transition: filter 0.3s;
    transition: filter 0.3s, -webkit-filter 0.3s;
    cursor: pointer;
  }
  .main-site .footer-container .footer-content .social-media-box__icon:hover {
    -webkit-filter: invert(37%) sepia(9%) saturate(1980%) hue-rotate(201deg) brightness(91%) contrast(89%);
            filter: invert(37%) sepia(9%) saturate(1980%) hue-rotate(201deg) brightness(91%) contrast(89%);
  }
}
@media (min-width: 576px) {
  .main-site .nav .nav-container .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }
  .main-site .nav .nav-container .nav-links__link {
    padding: 1em;
  }
  .main-site .nav .nav-container .nav-links__link:nth-child(2) {
    margin: 0 0.25em;
  }
}
@media (min-width: 768px) {
  .main-site .header-site {
    padding: 5.5em 1.25em 0 1.25em;
  }
  .main-site .about-site {
    padding: 1em 1.25em;
  }
  .main-site .newsletter-container {
    padding: 3em 1.25em;
  }
  .main-site .footer-container {
    padding: 3em 1.25em;
  }
  .main-site .footer-container__logo {
    width: 166px;
    height: 50px;
  }
  .main-site .footer-container .footer-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-site .footer-container .footer-content .social-media-box__icon {
    width: 2.5em;
    height: 2.5em;
  }
}
@media (min-width: 1200px) {
  .main-site .nav {
    padding: 1em 0;
  }
  .main-site .header-site {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10em 0 0 0;
  }
  .main-site .header-site__illustration-primary {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .main-site .header-site .header-content {
    grid-column: 0/1;
  }
  .main-site .header-site .header-content__heading {
    text-align: left;
    font-size: 2.4rem;
  }
  .main-site .header-site .header-content__description {
    text-align: left;
    padding-right: 3.9em;
  }
  .main-site .header-site .header-content .header-interaction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
    width: 85%;
  }
  .main-site .header-site .header-content .header-interaction__cta {
    margin-top: 0;
    width: 70%;
  }
  .main-site .about-site {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10em 0 0 0;
  }
  .main-site .about-site__illustration-secondary {
    grid-column: 2/3;
  }
  .main-site .about-site .site-description {
    grid-column: 0/1;
    grid-row: 1/2;
  }
  .main-site .about-site .site-description__heading {
    text-align: left;
  }
  .main-site .about-site .site-description__redirect-link {
    margin: 2em 0 0 0;
  }
  .main-site .about-site .site-description .card-box {
    padding: 2.5em 0 1.25em 2em;
    margin: 0;
  }
  .main-site .newsletter-container .newsletter-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8em;
    padding: 3em 0;
  }
  .main-site .newsletter-container .newsletter-box .newsletter-area {
    grid-column: 0/1;
    grid-row: 1/2;
  }
  .main-site .newsletter-container .newsletter-box .newsletter-area__description {
    padding: 1em 0 0 0;
  }
  .main-site .newsletter-container .newsletter-box .newsletter-interaction__cta {
    width: 50%;
  }
  .main-site .footer-container .footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em 0;
  }
  .main-site .footer-container .footer-content__logo {
    grid-column: 0/1;
  }
  .main-site .footer-container .footer-content .contact-block {
    grid-column: 1/2;
    grid-row: 0/1;
  }
  .main-site .footer-container .footer-content .social-media-box {
    justify-self: start;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: hsl(243, 87%, 12%);
  min-height: 100svh;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */