@use "./reset" as *;
@use "./colors" as *;
@use "./font" as *;
@use "./mixins" as *;

@media (min-width: 1200px) {
  .main-site {
    .header-site {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      padding: 10em 0 0 0;
      &__illustration-primary {
        grid-column: 2/3;
        grid-row: 1/2;
      }
      .header-content {
        grid-column: 0/1;
        &__heading {
          text-align: left;
          font-size: 2.4rem;
        }
        &__description {
          text-align: left;
          padding-right: 3.9em;
        }
        .header-interaction {
          display: flex;
          gap: 1em;
          width: 85%;
          &__cta {
            margin-top: 0;
            width: 70%;
          }
        }
      }
    }
    .about-site {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      padding: 10em 0 0 0;
      &__illustration-secondary {
        grid-column: 2/3;
      }
      .site-description {
        grid-column: 0/1;
        grid-row: 1/2;
        &__redirect-link {
          margin: 2em 0 0 0;
        }
        .card-box{
          padding: 2.5em 0 1.25em 2em;
          margin: 0;
        }
      }
    }
  }
}
