@use "./colors" as *;
@use "./font" as *;
@mixin set-image {
  display: block;
  width: 100%;
}
@mixin heading-style {
  font-size: $h-size;
  font-weight: $bold-weight;
  text-align: center;
}
@mixin center-flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin column-flex {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@mixin flex-center-inline {
  display: flex;
  justify-content: center;
  gap: 1em;
}
@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin error-styles {
  padding: 0.25em 0;
  font-size: 0.75rem;
  color: rgb(255, 0, 0);
  display: block;
}
