@use "./colors" as *;
@use "./font" as *;
@mixin set-image {
  display: block;
  width: 100%;
}
@mixin heading-style{
  font-size: $h-size;
  font-weight: $bold-weight;
  text-align: center;
}
@mixin center-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin column-flex{
  display: flex;
  flex-direction: column;
}
