@use "./reset" as *;
@use "./colors" as *;
@use "./font" as *;
@use "./mixins" as *;
@media (min-width: 375px) {
  .main-site {
    min-height: 100svh;
    .nav {
      padding: 1em 0.5em;
      position: fixed;
      width: 100%;
      left: 0;
      right: 0;
      .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
        &__logo {
          width: 8em;
        }
        .nav-links {
          display: flex;
          &__link {
            padding: 0.5em;
            cursor: pointer;
          }
          &__link:last-child {
            padding-right: 0;
          }
        }
      }
    }
    .header-site {
      padding: 5.5em 3em 0 3em;
      &__illustration-primary {
        @include set-image;
      }
      .header-content {
        &__heading {
          @include heading-style;
          line-height: 150%;
        }
        &__description {
          text-align: center;
          line-height: 150%;
          padding: 1em 0;
        }
        .header-interaction {
          &__input {
            width: 100%;
            padding: 0.75em;
            font-size: 1rem;
            border: 0.1em solid $very-dark-blue;
            border-radius: 0.2em;
            outline-color: $very-dark-blue;
          }
          &__cta {
            margin-top: 1em;
            width: 100%;
            padding: 0.75em 1.5em;
            font-size: $p-size;
            font-family: inherit;
            border-radius: 0.2em;
            border: none;
            background-color: $bright-blue;
            color: $light-grayish-blue;
            transition: background-color 0.5s;
            cursor: pointer;
          }
          &__cta:hover {
            background-color: hsl(224, 94%, 66%);
          }
        }
      }
    }
    .about-site {
      padding: 1em 3em;
      &__illustration-secondary {
        @include set-image;
        padding: 4em 0;
      }
      .site-description {
        &__heading {
          @include heading-style;
        }
        &__description {
          padding-top: 1.25em;
          line-height: 150%;
        }
        &__redirect-link {
          color: $moderate-cyan;
          position: relative;
          display: block;
          margin: 1.25em auto;
          text-decoration: none;
          padding: 0.25em 0;
          z-index: 0;
          width: 10em;
          border-bottom: 1px solid $moderate-cyan;
          transition: color 0.5s;
          &--icon {
            content: url(../img/icon-arrow.svg);
            position: absolute;
            top: 25%;
            margin-left: 0.1em;
            transition: color 0.5s;
          }
        }
        &__redirect-link:hover {
          color: hsl(170, 49%, 55%);
        }
      }
      .card-box {
        margin: auto;
        padding: 1.25em 0;
        max-width: 25em;
        &__icon {
          width: 1.5em;
        }
        &__description {
          line-height: 150%;
        }
        .person-box {
          display: flex;
          align-items: center;
          padding-top: 1em;
          &__avatar {
            border-radius: 50%;
            width: 3em;
          }
          .person-info {
            padding-left: 0.75em;
            &__name {
              font-weight: $bold-weight;
            }
            &__proffesion {
              font-size: 0.65rem;
            }
          }
        }
      }
    }
    .newsletter-container {
      @include center-flex;
      background-color: $desaturate-blue;
      padding: 3em;
      margin-top: 3em;
      .newsletter-box {
        .newsletter-area {
          &__header,
          &__description {
            color: $white-color;
            font-weight: $regular-weight;
          }
          &__description {
            padding: 2em 0;
            line-height: 150%;
          }
        }
        .newsletter-interaction {
          &__email-place,
          &__cta {
            width: 100%;
            padding: 0.75em 1.5em;
            font-size: $p-size;
            border-radius: 0.4em;
            border: none;
            font-family: inherit;
            transition: background-color 0.5s;
          }
          &__cta {
            background-color: $bright-blue;
            color: $white-color;
            margin-top: 0.6em;
            cursor: pointer;
          }
          &__cta:hover {
            background-color: hsl(224, 94%, 66%);
          }
        }
      }
    }
    .footer-container {
      background-color: $very-dark-blue;
      padding: 3em;
      &__logo {
        height: 3.063em;
        width: 10.5em;
      }
      .footer-content {
        @include column-flex;
        padding-top: 4em;
        gap: 4em;
        .contact-block {
          @include column-flex;
          &__contact {
            position: relative;
            color: $white-color;
            padding-left: 2em;
          }
          &__contact::before {
            position: absolute;
            left: 0;
            content: url(../img/icon-phone.svg);
          }
          &__contact:last-child::before {
            content: url(../img/icon-email.svg);
          }
        }
        .about-company-block,
        .policy-box {
          @include column-flex;
          max-width: 6em;
          &__link {
            color: $white-color;
            padding: 0 0.25em;
            transition: color 0.5s;
            cursor: pointer;
          }
          &__link:hover {
            color: $desaturate-blue;
          }
        }
        .social-media-box {
          @include flex-center-inline;
          &__icon {
            border: 0.1em solid $white-color;
            padding: 0.5em;
            border-radius: 50%;
            transition: filter 0.3s;
            cursor: pointer;
          }
          &__icon:hover {
            filter: invert(37%) sepia(9%) saturate(1980%) hue-rotate(201deg)
              brightness(91%) contrast(89%);
          }
        }
      }
    }
  }
}
@media (min-width: 576px) {
  .main-site {
    .nav {
      .nav-container {
        .nav-links {
          display: flex;
          list-style-type: none;
          font-family: "Raleway", sans-serif;
          font-weight: $regular-weight;
          &__link {
            padding: 1em;
          }
          &__link:nth-child(2) {
            margin: 0 0.25em;
          }
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .main-site {
    .header-site {
      padding: 5.5em 1.25em 0 1.25em;
    }
    .about-site {
      padding: 1em 1.25em;
    }
    .newsletter-container {
      padding: 3em 1.25em;
    }
    .footer-container {
      padding: 3em 1.25em;
      &__logo {
        width: 166px;
        height: 50px;
      }
      .footer-content {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .social-media-box {
          &__icon {
            width: 2.5em;
            height: 2.5em;
          }
        }
      }
    }
  }
}
