@use "./reset" as *;
@use "./colors" as *;
@use "./font" as *;
@use "./mixins" as *;
@media (min-width: 375px) {
  .main-site {
    
    min-height: 100svh;
    .nav {
      padding: 1em 0.5em;
      position: fixed;
      width: 100%;
      left: 0;
      right: 0;
      .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
        &__logo {
          width: 8em;
        }
        .nav-links {
          display: flex;
          list-style-type: none;
          &__link {
            padding: 0.5em;
            cursor: pointer;
          }
          &__link:last-child{
            padding-right: 0;
          }
        }
      }
    }
    .header-site {
      padding: 5.5em .5em 0 .5em;
      &__illustration-primary {
        @include set-image;
      }
      .header-content {
        &__heading {
          @include heading-style;
          line-height: 150%;
        }
        &__description {
          text-align: center;
          line-height: 150%;
          padding: 1em 0;
        }
        &__input {
          width: 100%;
          padding: 0.75em;
          font-size: 1rem;
          border: 0.1em solid $very-dark-blue;
          border-radius: 0.2em;
          outline-color: $very-dark-blue;
        }
        &__cta {
          margin-top: 1em;
          width: 100%;
          padding: 0.75em 1.5em;
          font-size: $p-size;
          font-family: inherit;
          border-radius: 0.2em;
          border: none;
          background-color: $bright-blue;
          color: $light-grayish-blue;
        }
      }
    }
    .about-site {
      padding: 0.5em;
      padding-top: 2.5em;
      &__illustration-secondary {
        @include set-image;
        padding: 4em 0;
      }
      .site-description {
        &__heading {
          @include heading-style;
        }
        &__description {
          padding-top: 1.25em;
          line-height: 150%;
        }
        &__redirect-link {
          color: $moderate-cyan;
          position: relative;
          display: block;
          margin: 1.25em auto;
          text-decoration: none;
          padding: 0.25em 0;
          z-index: 0;
          width: 10em;
          border-bottom: 1px solid $moderate-cyan;
          &--icon {
            content: url(../img/icon-arrow.svg);
            position: absolute;
            top: 25%;
            margin-left: 0.1em;
          }
        }
      }
      .card-box{
      margin: auto;
      padding: 1.25em 0;
      max-width: 25em;
        &__icon{
          width: 1.5em;
        }
        &__description{
          line-height: 150%;
        }
        .person-box{
          display: flex;
          align-items: center;
          padding-top: 1em;
          &__avatar{
            border-radius: 50%;
            width: 3em;
          }
          .person-info{
            padding-left: .75em;
            &__name{
              font-weight: $bold-weight;
            }
            &__proffesion{
              font-size: .650rem;
            }
          }
        }
      }
    }
    .newsletter-area{
      @include center-flex;
      background-color: $desaturate-blue;
      padding: 3em;
      margin-top: 3em;
      &__header,
      &__description{
        color: $white-color;
        font-weight: $regular-weight;
      }
      &__description{
        padding: 2em 0;
        line-height: 150%;
      }
      &__email-place,
      &__cta{
        width: 100%;
        padding: .75em 1.5em;
        font-size: $p-size;
        border-radius: .4em;
        border: none;
        font-family: inherit;
      }
      &__cta{
        background-color: $bright-blue;
        color: $white-color;
       margin-top: .6em;
      }
    }
  }
}
@media (min-width: 576px) {
  .main-site {
    .nav {
      .nav-container {
        .nav-links {
          display: flex;
          list-style-type: none;
          font-family: "Raleway", sans-serif;
          font-weight: $regular-weight;
          &__link {
            padding: 1em;
          }
          &__link:nth-child(2) {
            margin: 0 0.25em;
          }
        }
      }
    }
  }
}
